NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_live_...
STRIPE_SECRET_KEY=sk_live_...
STRIPE_SHIPPING_RATE_ID=shr_...
STRIPE_FREE_SHIPPING_RATE_ID=shr_...
UPSTASH_REDIS_REST_URL=https://your-db.upstash.io
UPSTASH_REDIS_REST_TOKEN=your_upstash_rest_token
NEXT_PUBLIC_TIKTOK_PIXEL_ID=your_tiktok_pixel_id
EVENTS_API_ACCESS_TOKEN=your_tiktok_events_api_access_token
TIKTOK_TEST_EVENT_CODE=TEST40810
