NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_live_...
STRIPE_SECRET_KEY=sk_live_...
STRIPE_SHIPPING_RATE_ID=shr_...
STRIPE_FREE_SHIPPING_RATE_ID=shr_...
NEXT_PUBLIC_FREE_SHIPPING_PROMO_CODE=FREESHIP
UPSTASH_REDIS_REST_URL=https://your-db.upstash.io
UPSTASH_REDIS_REST_TOKEN=your_upstash_rest_token
